//Styling fonter och länkar

@use '/src/css/sass/abstracts/variables' as *;

html{
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6{
    color: $headlinecolor;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.1rem;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0.2rem;
}

p{
    color: $textcolor;
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bungee Tint', 'Montserrat', sans-serif;
    color: $linkcolor;
}

a:visited{
    color: $linkcolor;
}

//testar nestling
.links {
    li a:hover {
    border-bottom: 3px dotted $linksactive;
    color: darken($linkcolor, 50%);
}}


//Mediaquery för dark theme

@media (prefers-color-scheme: dark){

    html{
        background-color: $dark_mainbkgcolor;
    }

    header {
        background-color: $dark_hfbkgcolor
    }
    
    main{
        background-color: $dark_mainbkgcolor;
    }
    
    footer{
        background-color: $dark_hfbkgcolor;
    }
    

    h1, h2, h3, h4, h5, h6{
        color: $dark_headlinecolor;
    }
    
    p{
        color: $dark_textcolor;
    }
    
    a {
        color: $dark_linkcolor;
    }
    
    a:visited{
        color: $dark_linkcolor;
    }
    
    //testar nestling
    .links {
        li a:hover {
        border-bottom: 3px dotted $dark_linksactive;
        color: lighten($dark_linkcolor, 50%);
    }}

    //OBS nedan hör till nav

    .bar {
        background-color: $dark_navbarscolor;
    }

    nav {
        background-color: $dark_hfbkgcolor;
    }
}