@keyframes blink {
    0% {opacity: 0;}
    25% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% { transform: rotate(360deg);
    }
}

@keyframes countdown {
    0% {
        opacity: 0; 
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes show{
    100% {
        opacity: 1;
    }
}


@keyframes launch {
    0% {
        transform: translate(-500, 500);
    }
    50% {
        transform: translate(500px, -500px); 
    }    
    100% {
        transform: translate(0, 0); 
    }
}

