//Variabler för färg

//main theme
$mainbkgcolor: #f7f7f7;
$hfbkgcolor: #e9e6e6;
$linkcolor: #0077cc;
$linksactive: red;
$headlinecolor: #5f5f5f;
$textcolor: #000000;
$navbarscolor: #000000;
$buttoncolor: #992e8d;

//dark theme

$dark_mainbkgcolor: #000000;
$dark_hfbkgcolor: #111111;
$dark_linkcolor: #00ff00;
$dark_linksactive: #ccff99;
$dark_headlinecolor: #66ff66;
$dark_textcolor: #84ba64;
$dark_navbarscolor: $dark_linkcolor;
$dark_buttoncolor: #15da15;